#aboutUs{
    margin-block: 5rem;
}

.aboutVideoWrapper img{
    width: 100%;
    border-radius: 10px;
}

.aboutVideoWrapper{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.textLeft{
    text-align: left;
}

.aboutInfoWrapper .info {
    color: #676767;
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1920 - 320));
    margin-bottom: 15px;
}

@media (max-width:768px) {
    .aboutVideoWrapper img{
        width: 100%;
    }
}