#hero-banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#08003ab3,#08003ab3), url("../../assets/banner/web1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info-container .info-wrapper{
    max-width: 800px;
    text-align: center;
    color: #fff;
}

.info-container .info-wrapper h2{
    font-size: calc(30px + (60 - 30) * (100vw - 320px) / (1920 - 320));
    font-family: "Outfit", sans-serif;
}

.info-container .info-wrapper p{
    font-size: calc(13px + (18 - 13) * (100vw - 320px) / (1920 - 320));
    font-family: "Outfit", sans-serif;
}

.width{
    width: 20px;
}

.white{
    background-color: #fff;
    color: #000;
}